.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.dark-mode .title {
  color: #555;
}


hr {
  border: none;
  border-top: 1px solid #d9d9d9;
  margin: 10px 0;
  transition: all 0.3s ease;
}

.dark-mode hr {
  border-top: 1px solid #404040;
}

.customer-container {
  margin-top: 10px;
  padding: 0;
  display: flex;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}