.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

hr {
  border: none;
  border-top: 1px solid #d9d9d9;
  margin: 10px 0;
}

.employee-container {
  /* border: #d9d9d9 1px solid; */
  border-radius: 10px;
  margin-top: 10px;
  padding: 0;
  display: flex;
}
