.register-page {
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/bckgrd.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Poppins", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-card {
  width: 420px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  backdrop-filter: blur(12px);
}

.register-card h2 {
  margin: 0 0 12px 0;
  text-align: center;
}

.register-card input {
  margin-top: 12px;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
}

.register-card button {
  margin-top: 14px;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #042b5f;
  color: white;
  cursor: pointer;
}

.register-card button:hover {
  background: white;
  color: black;
}

.register-footer {
  margin-top: 12px;
  text-align: center;
  color: #ddd;
}

.sn a {
  color: #fff;
  text-decoration: none;
}
.sn a:hover {
  color: #042b5f;}